In [1]:
import pandas as pd

In [2]:
DF_casetas=pd.read_excel('BD_TR.xlsx',sheet_name= 'CasetasL')
DF_casetas.head()

,Unidad,TAG,Flota,EC,Fecha,Sistema,Costo Caseta,Semana,Mes
0,1827,CPFI11071066,Full Liver,EC-01,2024-01-01,CAPUFE,557,1,1
1,1827,CPFI11071066,Full Liver,EC-01,2024-01-01,CAPUFE,251,1,1
2,1827,CPFI11071066,Full Liver,EC-01,2024-01-01,CAPUFE,935,1,1
3,1827,CPFI11071066,Full Liver,EC-01,2024-01-01,CAPUFE,414,1,1
4,1827,CPFI11071066,Full Liver,EC-01,2024-01-01,CAPUFE,353,1,1

In [3]:
columnas_no_relevantes = ['EC', 'Mes']

# Eliminar columnas no relevantes
DF_casetas = DF_casetas.drop(columnas_no_relevantes, axis=1)
DF_casetas.head()

   Unidad           TAG       Flota      Fecha Sistema  Costo Caseta  Semana
0    1827  CPFI11071066  Full Liver 2024-01-01  CAPUFE           557       1
1    1827  CPFI11071066  Full Liver 2024-01-01  CAPUFE           251       1
2    1827  CPFI11071066  Full Liver 2024-01-01  CAPUFE           935       1
3    1827  CPFI11071066  Full Liver 2024-01-01  CAPUFE           414       1
4    1827  CPFI11071066  Full Liver 2024-01-01  CAPUFE           353       1

In [4]:
dispach = pd.read_excel('Liverpool_final.xlsx')
dispach.head()

,ord_number,origin_cmp_id,origin_cmp_name,dest_cmp_id,dest_cmp_name,orderby_cmp_id,orderby_cmp_name,orderby_cty_nmstct,billto_cmp_id,billto_cmp_name,...,lgh_204status,lgh_204date,ord_broker,shipper_radius,consignee_radius,carrier_pay,paydetail_lgh,paydetail_acc,paydetail_fuel,paydetail_tot
0,1334253,CDTLIVTL,BOD LIVERPOOL TULTITLAN,LVTACUBA,BODEGA LIVERPOOL TACUBAYA,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1,1333689,PRODEL08,PROCTER VALLEJO,PROCUA09,PROCTER GAMBLE MANUFACTURA,PGMEXICO,PROCTER & GAMBLE MANUFACTURING MEXICO,"HUIXQUILUCAN,EM",PGMEXICO,PROCTER & GAMBLE MANUFACTURING MEXICO,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
2,1334241,CDTLIVTL,BOD LIVERPOOL TULTITLAN,BODCUA03,BODEGA LIVERPOOL CUAUTITLAN,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
3,1334242,CDTLIVTL,BOD LIVERPOOL TULTITLAN,LIVPLAN,PLAN LIVERPOOL (PLATAFORMA LOGÍSTICA ARCO NORT...,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,1334243,CDTLIVTL,BOD LIVERPOOL TULTITLAN,BODCUA03,BODEGA LIVERPOOL CUAUTITLAN,LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,"CUAJIMALPA DE MORE,CDMX",LIVERDED,DISTRIBUIDORA LIVERPOOL S.A. DE C.V.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

In [5]:
#vamos a hacer una lista con las columnas relevantes para eliminar todas las demas 

columnas = ['ord_number', 'billto_cmp_id','ord_startdate', 'ord_completiondate','ord_revtype4', 'origin_cty_nmstct','dest_cyt_nmstct','ord_tractor','ord_totalmiles']

dispach = dispach[columnas]

#Cambniamos el nombre de las columnas 
dispach.columns = ['Numero de orden', 'Cliente que paga', 'Fecha de inicio', 'Fecha de finalizacion', 'Equipo colaborativo', 'Municipo origen', 'Municipo destino', '# de Tractor', 'Millas totales']

dispach.head()

,Numero de orden,Cliente que paga,Fecha de inicio,Fecha de finalizacion,Equipo colaborativo,Municipo origen,Municipo destino,# de Tractor,Millas totales
0,1334253,LIVERDED,2024-01-01 01:00:00,2024-01-01 01:36:00,DED,"TULTITLAN,EM","DELEG. ALVARO OBRE,DF/MEX",1636,70
1,1333689,PGMEXICO,2024-01-01 02:00:00,2024-01-01 03:00:00,EC1,"DELEG.AZCAPOTZALCO,CDMX","CUAUTITLAN IZCALLI,EM",1726,19
2,1334241,LIVERDED,2024-01-01 04:45:00,2024-01-01 05:31:00,DED,"TULTITLAN,EM","CUAUTITLAN,EM/",1636,36
3,1334242,LIVERDED,2024-01-01 05:00:00,2024-01-01 05:46:00,DED,"TULTITLAN,EM","JILOTEPEC,EM",1636,148
4,1334243,LIVERDED,2024-01-01 05:15:00,2024-01-01 06:01:00,DED,"TULTITLAN,EM","CUAUTITLAN,EM/",1837,36

In [7]:

dispach['Fecha de inicio'] = dispach['Fecha de inicio'].astype(str)
dispach['Fecha de finalizacion'] = dispach['Fecha de finalizacion'].astype(str)

dispach[['Fecha_inicio', 'Fecha_inicio_hora']] = dispach['Fecha de inicio'].str.split(' ', expand=True)
dispach[['Fecha_fin', 'Fecha_fin_hora']] = dispach['Fecha de finalizacion'].str.split(' ', expand=True)

In [8]:
dispach=dispach.drop(['Fecha de inicio','Fecha de finalizacion','Fecha_inicio','Fecha_inicio_hora','Fecha_fin_hora'], axis=1)

In [9]:
dispach.rename(columns={'# de Tractor': 'Unidad'}, inplace=True)
dispach.rename(columns={'Fecha_fin': 'Fecha'}, inplace=True)

In [10]:
dispach['Fecha'] = pd.to_datetime(dispach['Fecha'], errors='coerce')
DF_casetas['Fecha'] = pd.to_datetime(DF_casetas['Fecha'], errors='coerce')

In [11]:
DF_unido= pd.merge(dispach,DF_casetas, on=['Unidad','Fecha'], how='inner')

In [12]:
DF_unido

,Numero de orden,Cliente que paga,Equipo colaborativo,Municipo origen,Municipo destino,Unidad,Millas totales,Fecha,TAG,Flota,Sistema,Costo Caseta,Semana
0,1334465,LIVERDED,DED,"JILOTEPEC,EM","DELEG. ALVARO OBRE,DF/MEX",1807,97,2024-01-02,CPFI11071053,Full Liver,CAPUFE,640,1
1,1334465,LIVERDED,DED,"JILOTEPEC,EM","DELEG. ALVARO OBRE,DF/MEX",1807,97,2024-01-02,CPFI11071053,Full Liver,CAPUFE,640,1
2,1334465,LIVERDED,DED,"JILOTEPEC,EM","DELEG. ALVARO OBRE,DF/MEX",1807,97,2024-01-02,CPFI11071053,Full Liver,CAPUFE,70,1
3,1334465,LIVERDED,DED,"JILOTEPEC,EM","DELEG. ALVARO OBRE,DF/MEX",1807,97,2024-01-02,CPFI11071053,Full Liver,CAPUFE,444,1
4,1334465,LIVERDED,DED,"JILOTEPEC,EM","DELEG. ALVARO OBRE,DF/MEX",1807,97,2024-01-02,CPFI11071053,Full Liver,CAPUFE,147,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,1339647,LIVERDED,DED,"TULTITLAN,EM","TULTITLAN,EM",1807,120,2024-01-19,CPFI11071053,Full Liver,CAPUFE,222,3
666,1339785,LIVFUSUR,EC1,"TULTITLAN,EM","COATZACOALCOS,VL/",1900,624,2024-01-20,OHLM01632794,Full Liver,Televia,935,3
667,1339785,LIVFUSUR,EC1,"TULTITLAN,EM","COATZACOALCOS,VL/",1900,624,2024-01-20,OHLM01632794,Full Liver,Televia,251,3
668,1339785,LIVFUSUR,EC1,"TULTITLAN,EM","COATZACOALCOS,VL/",1900,624,2024-01-20,OHLM01632794,Full Liver,Televia,557,3
669,1339785,LIVFUSUR,EC1,"TULTITLAN,EM","COATZACOALCOS,VL/",1900,624,2024-01-20,OHLM01632794,Full Liver,Televia,514,3

In [13]:
DF_unido.to_excel('Base_unida.xlsx', index=False)